# Dependency
node_modules/

# Environment Variables (SANGAT PENTING)
.env

# Build Output
dist/

# Local Data (Hasil Scraping)
data.json
*.db

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db